<!-- Footer Copyright -->
    <div class="container-fluid" style="margin-top: 27rem">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 text-center" style="background-color: #FAFAFA">
                &copy; Designed by
                <a href="https://www.facebook.com/profile.php?id=100006862368229">Nguyễn Huy</a>
            </div>
        </div>
    </div>