<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="#">2Hands</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container-fluid">

        <div>
            <form class="form-inline my-2 my-lg-0 p-1">
                {{!-- <input class="form-control mr-sm-2" style="width:20rem" type="search" placeholder="Tìm kiếm rao vặt..."
                    aria-label="Search"> --}}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-secondary my-2 my-sm-0" href="#"><i class="fa fa-search" aria-hidden="true"></i> Tìm rao vặt</a>
                    </li>

                    <li class="nav-item ml-2">
                        <a class="btn btn-secondary" href="#"><i class="fa fa-bell-o" aria-hidden="true"></i> Thông báo</a>
                    </li>
                </ul>
            </form>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {{!-- dropdown --}}
                <li id="TH_dropdown_all" class="nav-item dropdown d-none">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img id="TH_avatar"
                            src="images/login_icon2.png" height="30" width="30" alt="avatar"></a>
                    <div id="TH_dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">

                    </div>
                </li>
                {{!-- end dropdown --}}
                <li class="nav-item">
                    <button id="btnCreatePost" class="nav-link btn text-light btn-info ml-3">Đăng tin</button>
                </li>
            </ul>

        </div>

        {{!-- btn Login --}}
        {{!-- <div>
            <div class="form-inline my-2 my-lg-0 p-1">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button class="btn btn-secondary" id="btnLogin"><strong><i class="fa fa-sign-in"></i>&nbsp; Đăng nhập</strong></button>
                    </li>
                </ul>
            </div>
        </div> --}}
        {{!--  --}}

        <div>
            <ul class="navbar-nav">
                <li class="nav-item ml-2">
                    <a class="nav-link" href="#">Trụ sở chính</a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link" href="#">Liên hệ quảng cáo</a>
                </li>
            </ul>
        </div>

    </div>
</nav>




<!-- Button Login modal -->
<button type="button" id="modalLogin" class="btn btn-primary btn-lg d-none" data-toggle="modal"
    data-target="#modelIdLogin">
    Launch
</button>

<!-- Modal Login -->
<div class="modal fade" id="modelIdLogin" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalTitle" class="modal-title">Đăng nhập</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="TH_errorMessage"></div>
            <form action="">
                <div class="form-group">
                    <label for="phoneNumber"></label>
                    <input type="text" class="form-control" autocomplete="username" maxlength="11" required="required" 
                    id="TH_phoneNumber" aria-describedby="helpId"
                        placeholder="Nhập số điện thoại">
                </div>

                <div class="form-group">
                    <label for="password"></label>
                    <input type="password" class="form-control" autocomplete="current-password" id="TH_password" aria-describedby="helpId"
                        placeholder="Nhập mật khẩu">
                </div>
            </form>

                <button class="btn btn-success" id="showModalRegister" style="cursor:pointer"></button>

            </div>
            <div class="modal-footer">
                <button type="button" id="TH_close_modal_login" class="btn btn-outline-danger"
                    data-dismiss="modal">Đóng</button>
                <button type="button" id="submitLogin" class="btn btn-outline-primary">Đăng nhập</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Thông báo -->
    <button type="button" id="modal_ThongBao" class="btn btn-primary btn-lg d-none" data-toggle="modal" data-target="#modelThongbao">
        Launch
    </button>

    <!-- Modal Thông báo -->
    <div class="modal fade" id="modelThongbao" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-success text-center" id="modelTitleThongBao"></h4>
                </div>
                <div class="modal-footer d-none">
                    <button type="button" id="Tat_Thong_bao" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>