<ul class="rslides" id="slider">
	<li>
		<div class="w3ls-slide-text">
			<h3>Bạn có thể đăng bán hoặc quảng cáo miễn phí tại đây</h3>
			<a href="categories.html" class="w3layouts-explore-all">Đăng tin</a>
		</div>
	</li>
	<li>
		<div class="w3ls-slide-text">
			<h3>Tìm sản phẩm phù hợp nhu cầu</h3>
			<a href="categories.html" class="w3layouts-explore">Đi chợ</a>
		</div>
	</li>
	<li>
		<div class="w3ls-slide-text">
			<h3>Trang trí nhà cửa với những món đồ cực dễ thương !!! </h3>
			<a href="real-estate.html" class="w3layouts-explore">Đồ dùng trang trí</a>
		</div>
	</li>
	<li>
		<div class="w3ls-slide-text">
			<h3>Bạn đang tìm kiếm phương tiện di chuyển ?</h3>
			<a href="bikes.html" class="w3layouts-explore">Xe cộ</a>
		</div>
	</li>
	<li>
		<div class="w3ls-slide-text">
			<h3>Tìm việc dễ dàng nhất tại 2Hands</h3>
			<a href="jobs.html" class="w3layouts-explore">Tìm việc</a>
		</div>
	</li>
</ul>