{{!-- animation loader --}}
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{{!-- end animation loader --}}



<div class="w3-categories">
    <h3>Chuyên mục rao vặt</h3>
    <div class="container" id="listCategoriesId">

        <div class="clearfix"></div>
        {{!-- </div> --}}
    </div>
</div>

<div class="trending-ads">
    <div class="container">
        <!-- slider -->
        <div class="agile-trend-ads">
            <h2>Tin rao vặt PowerVIP</h2>
            <ul id="flexiselDemo3">
                <li>
                    <div class="row">

                        <div class="col-md-3 biseller-column">
                            <a href="single.html">
                                <img src="template/images/p1.jpg" alt="" />
                                <span class="price">450.000</span>
                            </a>
                            <div class="w3-ad-info">
                                <h5>There are many variations of passages</h5>
                                <span>1 hour ago</span>
                            </div>
                        </div>
                        <div class="col-md-3 biseller-column">
                            <a href="single.html">
                                <img src="template/images/p2.jpg" alt="" />
                                <span class="price">399.000</span>
                            </a>
                            <div class="w3-ad-info">
                                <h5>Lorem Ipsum is simply dummy</h5>
                                <span>3 hour ago</span>
                            </div>
                        </div>

                </li>

            </ul>
        </div>
    </div>
</div>
<!-- //slider -->
</div>
<!-- mobile app -->
<div class="agile-info-mobile-app">
    <div class="container">
        <div class="row">
            <div class="col-md-5 w3-app-left">
                <a href="mobileapp.html"><img src="template/images/app.png" alt=""></a>
            </div>
            <div class="col-md-7 w3-app-right">
                <h3>2Hands App là cách <span>dễ nhất</span> để mọi người có thể trao đổi - mua bán các mặt hàng đã qua
                    sử dụng</h3>
                <p>Mang thế giới mua sắm đến tầm tay bạn</p>
                <div class="agileits-dwld-app">
                    <h6>Download The App :
                        <a href="#"><img style="display:inline-block;overflow:hidden; no-repeat"
                                src="template/images/google-play-badge.png" width="145px" height="70px" alt=""></a>
                    </h6>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //mobile app -->

<script>
    showPostsAcceptByPriority();

    getAllCategoriesAPI()
        .then(listCategories => {
            let chuoi_HTML = ``;
            listCategories.categories.forEach(category => {
                chuoi_HTML += `<div class="col-md-3">
            <div class="focus-grid w3layouts-boder1">
                <a class="btn-8" href="/${category.id}">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><img src="${Dia_chi_Dich_vu}/${category.image}" width="90" height="90" alt="${category.title}"></div>
                            <h4 class="clrchg">${category.title}</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>`
            });
            listCategoriesId.innerHTML = chuoi_HTML;
        })
        .catch(err => {
            console.log(err);
        });

    async function showPostsAcceptByPriority() {
        try {
            const listPostPriority = await getPostsAcceptByPriorityAPI();

            flexiselDemo3.innerHTML = '';
            if (listPostPriority.count > 0) {
                let chuoi_HTML_1_Row = '<div class="row">';
                let conditionFor = listPostPriority.count > 16 ? 16 : listPostPriority.count;
                for (let i = 0; i < conditionFor; i++) {
                    chuoi_HTML_1_Row += ` <div class="col-md-3 biseller-column">
                                                <a href="/post-detail/${listPostPriority.posts[i].id}">
                                                    <img src="${Dia_chi_Dich_vu}/${listPostPriority.posts[i].images[0]}" width="232" height="232" alt="" />
                                                    <span class="price">${Tao_Chuoi_The_hien_So_nguyen_duong(listPostPriority.posts[i].price)} ₫</span>
                                                </a>
                                                <div class="w3-ad-info">
                                                    <h5>${listPostPriority.posts[i].title}</h5>
                                                    <span>${listPostPriority.posts[i].moment}</span>
                                                </div>
                                            </div>`;
                    if ((i + 1) % 4 == 0 || (i + 1) == listPostPriority.count) {
                        let li = document.createElement('li');
                        chuoi_HTML_1_Row += `</div>`;
                        li.innerHTML = chuoi_HTML_1_Row;
                        flexiselDemo3.appendChild(li);

                        chuoi_HTML_1_Row = '<div class="row">';
                    }
                }
            }
        }
        catch (err) {
            console.log(err);
        }
    }


</script>