{{!-- animation loader --}}
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{{!-- end animation loader --}}

<div class="container">
    <div class="row">
        {{#each body.categories}}
        <div class="col-sm-6 col-md-3">
            <a href="http://localhost:3000/{{this.id}}" id="{{this.id}}" class="card"
                style="max-width: 15rem; cursor: pointer">
                <img class="card-img-top" src="https://secondhandsapp.herokuapp.com/{{this.image}}"
                    alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">{{this.title}}</h5>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>