.errorMessage {
    margin: 15px 15px 0;
    padding: 15px;
    border-radius: 12px;
    font-size: 14px;
    width: calc(100% - 32px);
    color: #ac2b2e;
    border: 1px solid #ff765a;
    background: #fff5f3;
}

.successMessage {
    margin: 15px 15px 0;
    padding: 15px;
    border-radius: 12px;
    font-size: 14px;
    width: calc(100% - 32px);
    color: #018d2b;
    border: 1px solid #7aee76;
    background: #e1e9d9;
}

#TH_name {
    margin: 5px 5px 5px 10px;
    float: left;
}

#TH_profile {
    margin-right: 5rem;
}

#TH_txt_QLTK {
    float: left;
    margin: 5px 0 0 42px;
}

#TH_txt_QT {
    float: left;
    margin: 8px 0 0 10px;
}

#TH_txt_logout {
    float: left;
    margin: 6px;
}

.dropdown-value {
    float: left;
    margin: 5px 10px;
}

#toast {
    position: fixed;
    top:0;
    left: 50%;
    transform: translate(-50%);
    background-color: #000;
    color: #fff;
    padding: 16px;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
}

#toast.show {
    visibility: visible;
    animation: fadeInOutToast 2s;
}

@keyframes fadeInOutToast{
    5%, 95%{opacity: 1; top: 50px}
    15%, 85%{opacity: 1; top: 30px}
}