<script>
    if (sessionStorage.getItem('token') == null) {
        window.location.href = Dia_chi_Dich_vu + '/login';
    }
</script>

{{!-- bootstrap 4 --}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
{{!-- // bootstrap 4 --}}

<body>
    <!-- breadcrumbs -->
    <div class="w3layouts-breadcrumbs text-center">
        <div class="container">
            <span class="agile-breadcrumbs float-left"><a href="/"><i class="fa fa-home home_1"></i></a> /
                <span> Quản
                    lý tin đăng</span></span>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <!-- Submit Ad -->
    <div class="submit-ad main-grid-border">
        <div class="container">
            <h2 class="w3-head">Quản lý tin đăng</h2>

            <div class="">
                <div class="upload-ad-photos">
                    <div class="photos-upload-view">
                        <img class="float-left" id="imageId" src="/images/user_icon.png" width="100" height="100">
                        <h1 id="nameId" style="margin-left: 15rem"></h1><br>
                        <button onclick="window.location='/user'" class="btn btn-outline-primary btn-lg ml-4">Xem thông
                            tin
                            cá
                            nhân</button>
                        <input type="file" id="fileselect" style="display: none" accept="image/*" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="">
                <button id="btnPostingId" class="btn btn-outline-success btn-lg">Đang bán</button>
                <button id="btnWaitingId" class="btn btn-outline-warning btn-lg">Đang chờ duyệt</button>
                <button id="btnRejectId" class="btn btn-outline-danger btn-lg">Bị từ chối</button>
                <button id="btnHideId" class="btn btn-outline-info btn-lg">Tin đã ẩn</button>
            </div>

            <div class="">
                <table id="tableProducersId" class="table" style="">
                    <thead>
                        <tr>
                            <th>
                                <h3>Hình</h3>
                            </th>
                            <th>
                                <h3>Chuyên mục</h3>
                            </th>
                            <th>
                                <h3>Thể loại</h3>
                            </th>
                            <th>
                                <h3>Nhà sản xuất</h3>
                            </th>
                            <th>
                                <h3>Tiêu đề</h3>
                            </th>
                            <th>
                                <h3>Giá</h3>
                            </th>
                            <th>
                                <h3>Loại tin</h3>
                            </th>
                            <th>
                                <h3>Ngày tạo</h3>
                            </th>
                            <th>
                                <h3>Lần cập nhật gần nhất</h3>
                            </th>
                            <th>
                                <h3>Cách đây</h3>
                            </th>
                            <th>
                                <h3>Thao tác</h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tableBodyId">

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- // Submit Ad -->
</body>

<script>
    var token = sessionStorage.getItem('token');
    var user = decodedJWT(token);
    var buttonClick = ``;
    console.log(user);


    btnPostingId.onclick = () => {
        getPostPostingByUserAPI(sessionStorage.getItem('token'), user.id)
            .then(posts => {
                btnPostingId.classList.add('active');
                btnWaitingId.classList.remove('active');
                btnRejectId.classList.remove('active');
                btnHideId.classList.remove('active');
                if (posts.count > 0) {
                    tableProducersId.classList.remove('d-none');
                    showDataTable(posts.posts, 1);
                } else {
                    showToast('Không có tin nào đang đăng.');
                    tableProducersId.classList.add('d-none');
                }
                buttonClick = `posting`;
            })
            .catch(err => {
                console.log(err);
            });
    }

    btnPostingId.click();


    btnWaitingId.onclick = () => {
        getPostWaitingByUserAPI(sessionStorage.getItem('token'), user.id)
            .then(posts => {
                btnPostingId.classList.remove('active');
                btnWaitingId.classList.add('active');
                btnRejectId.classList.remove('active');
                btnHideId.classList.remove('active');
                if (posts.count > 0) {
                    tableProducersId.classList.remove('d-none');
                    showDataTable(posts.posts, 0);
                }
                else {
                    showToast('Không có tin nào đang chờ duyệt.');
                    tableProducersId.classList.add('d-none');
                }
                buttonClick = `waiting`;
            })
            .catch(err => {
                console.log(err);
            });
    }

    btnRejectId.onclick = () => {
        getPostRejectByUserAPI(sessionStorage.getItem('token'), user.id)
            .then(posts => {
                btnPostingId.classList.remove('active');
                btnWaitingId.classList.remove('active');
                btnRejectId.classList.add('active');
                btnHideId.classList.remove('active');
                if (posts.count > 0) {
                    tableProducersId.classList.remove('d-none');
                    showDataTable(posts.posts, -1);
                }
                else {
                    showToast('Không có tin nào bị từ chối.');
                    tableProducersId.classList.add('d-none');
                }

                buttonClick = `reject`;
            })
            .catch(err => {
                console.log(err);
            });
    }

    btnHideId.onclick = () => {
        getPostHiddentByUserAPI(sessionStorage.getItem('token'), user.id)
            .then(posts => {
                btnPostingId.classList.remove('active');
                btnWaitingId.classList.remove('active');
                btnRejectId.classList.remove('active');
                btnHideId.classList.add('active');
                if (posts.count > 0) {
                    tableProducersId.classList.remove('d-none');
                    showDataTable(posts.posts, -2);
                }
                else {
                    showToast('Không có tin nào đang được ẩn.');
                    tableProducersId.classList.add('d-none');
                }

                buttonClick = `hide`;
            })
            .catch(err => {
                console.log(err);
            });
    }


    function showDataTable(listPosts, status) {
        let chuoi_HTML = ``;
        listPosts.forEach(post => {
            chuoi_HTML += `<tr>
                <td scope="row"><img src="${Dia_chi_Dich_vu}/${post.images == null ? "" : post.images[0]}" width="70" height="50"></td>
                <td><h5>${post.category.title}</h5></td>
                <td><h5>${post.classify == undefined ? '' : post.classify.title}</h5></td>
                <td><h5>${post.producer == undefined ? '' : post.producer.title}</h5></td>
                <td><h5>${post.title}</h5></td>
                <td><h5 class="text-danger">${Tao_Chuoi_The_hien_So_nguyen_duong(post.price)}₫</h5></td>
                <td><h5>${post.seller == true ? "Cần bán" : "Cần mua"}</h5></td>
                <td><h5>${getDateFormat(post.createdAt)}</h5></td>
                <td><h5>${getDateFormat(post.updatedAt)}</h5></td>
                <td><h5>${post.moment}</h5></td>`
            if (status == 1) {
                chuoi_HTML += `<td>
                                <button class="btn btn-outline-warning btn-lg mt-2" onclick="window.location='${Dia_chi_Dich_vu}/post-detail-manage/u_${post.id}'">Chi tiết</button>
                                {{!-- <button class="btn btn-outline-primary btn-lg mt-2" onclick="deletePost('${post.id}')">Xóa tin</button> --}}
                                <button class="btn btn-outline-secondary btn-lg mt-2" onclick="hidePost('${post.id}')">Ẩn tin</button>
                                <button class="btn btn-outline-success btn-lg mt-2" onclick="window.location='${Dia_chi_Dich_vu}/post-edit/${post.id}'">Sửa tin</button>
                            </td>`
            } else if (status == 0) {
                chuoi_HTML += `<td>
                                <button class="btn btn-outline-warning btn-lg" onclick="window.location='${Dia_chi_Dich_vu}/admin/post-detail/u_${post.id}'">Chi tiết</button>
                            </td>`
            } else if (status == -1) {
                chuoi_HTML += `<td>
                                <button class="btn btn-outline-warning btn-lg mt-2" onclick="window.location='${Dia_chi_Dich_vu}/post-detail-manage/u_${post.id}'">Chi tiết</button>
                                {{!-- <button class="btn btn-outline-primary btn-lg mt-2" onclick="deletePost('${post.id}')">Xóa tin</button> --}}
                                <button class="btn btn-outline-success btn-lg mt-2" onclick="window.location='${Dia_chi_Dich_vu}/post-edit/${post.id}'">Sửa tin</button>
                            </td>`
            } else if (status == -2) {
                chuoi_HTML += `<td>
                                <button class="btn btn-outline-warning btn-lg mt-2" onclick="window.location='${Dia_chi_Dich_vu}/post-detail-manage/u_${post.id}'">Chi tiết</button>
                                {{!-- <button class="btn btn-outline-primary btn-lg mt-2" onclick="deletePost('${post.id}')">Xóa tin</button> --}}
                                <button class="btn btn-outline-info btn-lg mt-2" onclick="showPost('${post.id}')">Hiện tin</button>
                                <button class="btn btn-outline-success btn-lg mt-2" onclick="window.location='${Dia_chi_Dich_vu}/post-edit/${post.id}'">Sửa tin</button>
                            </td>`
            }
            chuoi_HTML += ` </tr>`;
        });
        tableBodyId.innerHTML = chuoi_HTML;
    }

    function deletePost(postId) {
        deletePostAPI(token, postId)
            .then(result => {
                if (result.message === `Post deleted`) {
                    if (buttonClick === `posting`) {
                        btnPostingId.click();
                    } else if (buttonClick === `waiting`) {
                        btnWaitingId.click();
                    } else if (buttonClick === `reject`) {
                        btnRejectId.click();
                    } else if (buttonClick === `hide`) {
                        btnHideId.click();
                    }
                    showToast('Tin đã được xóa.');
                }
            })
            .catch(err => {
                console.log(err);
            });
    }

    function hidePost(postId) {
        hidePostAPI(token, postId)
            .then(result => {
                if (result.message === `Post hidden`) {
                    if (buttonClick === `posting`) {
                        btnPostingId.click();
                    } else if (buttonClick === `waiting`) {
                        btnWaitingId.click();
                    } else if (buttonClick === `reject`) {
                        btnRejectId.click();
                    } else if (buttonClick === `hide`) {
                        btnHideId.click();
                    }
                    showToast('Tin đã được ẩn.');
                }
            })
            .catch(err => {
                console.log(err);
            });
    }

    function showPost(postId) {
        showPostAPI(token, postId)
            .then(result => {
                if (result.message === `Waiting admin accept post to show`) {
                    if (buttonClick === `posting`) {
                        btnPostingId.click();
                    } else if (buttonClick === `waiting`) {
                        btnWaitingId.click();
                    } else if (buttonClick === `reject`) {
                        btnRejectId.click();
                    } else if (buttonClick === `hide`) {
                        btnHideId.click();
                    }
                    showToast('Đã gửi yêu cầu hiển thị tin. Vui lòng đợi người quản trị duyệt để hiển thị.');
                }
            })
            .catch(err => {
                console.log(err);
            });
    }

    getUserAPI(token, user.id)
        .then(user => {
            imageId.src = user.user.avatar == undefined ? '/images/user_icon.png' : user.user.avatar;
            nameId.innerHTML = user.user.name == undefined ? user.user.phoneNumber : user.user.name;
        });

</script>