<head>
	<title>Resale_v2 a Classified ads Category Flat Bootstrap Responsive Website Template | Single :: w3layouts</title>
	
	
</head>

<body>


	<!-- breadcrumbs -->
	<div class="w3layouts-breadcrumbs text-center">
		<div class="container">
			<span class="agile-breadcrumbs">
				<a href="/"><i class="fa fa-home home_1"></i></a> /
				<a style="cursor: pointer" id="breadcrumbs_categoryId" onclick="goThisCategory()">All Ads</a> /
				{{!-- <a href="cars.html">Cars</a> / --}}
				<span id="breadcrumbs_titleId">Car name</span></span>
		</div>
	</div>
	<!-- //breadcrumbs -->
	<!--single-page-->
	<div class="single-page main-grid-border">
		<div class="container">
			<div class="product-desc">
				<div class="col-md-7 product-view">
					<h2 id="titleId">Title</h2>
					<p> <i class="fa fa-map-marker"></i><span id="addressId" style="color: red">state</span>, <span
							id="cityId" style="color: red">city</span> | <span id="momentId">Added at 06:55 pm</span>
					</p>
					<div class="flexslider" id="imagesId">
						<ul class="slides">

						</ul>
					</div>
					<!-- FlexSlider -->
					{{!-- <script defer src="../template/js/jquery.flexslider.js"></script> --}}

					<script>
						// Can also be used with $(document).ready()
						$(window).load(function () {
							$('.flexslider').flexslider({
								animation: "slide",
								controlNav: "thumbnails"
							});
						});
					</script>
					<!-- //FlexSlider -->

					<div class="product-details">
						<h4><img style="border-radius: 50px; border: 1px solid #909090;" id="avatarId" src="/images/user_icon.png" height="70" width="70" alt=""> <strong
								id="nameId" style="margin-left: 2rem"> Huy</strong> <button onclick="subscribePost()"
								class="btn btn-danger pull-right ">Lưu tin <i id="subscribeId"
									class="fa fa-heart-o"></i>
							</button></h4>
						<h4><span class="w3layouts-agileinfo">Loại tin </span> : <span id="sellerId">Cần bán</span>
							<div class="clearfix"></div>
						</h4>
						<h4><span class="w3layouts-agileinfo">Liên hệ </span> : <span
								id="phoneNumberId">0904914325</span>
							<div class="clearfix"></div>
						</h4>
						<h4><span class="w3layouts-agileinfo">Mô tả chi tiết</span> :<p id="contentId"></p>
							<div class="clearfix"></div>
						</h4>
					</div>

				</div>
				<div class="col-md-5 product-details-grid">
					<div class="item-price">
						<div class="product-price">
							<p class="p-price">Giá</p>
							<h3 class="rate" id="priceId">$ 45999</h3>
							<div class="clearfix"></div>
						</div>
						<div class="itemtype">
							<p class="p-price">Loại sản phẩm</p>
							<h4 id="titleclassifyId">Cars</h4>
							<div class="clearfix"></div>
						</div>
						<div class="condition">
							<p class="p-price">Hãng</p>
							<h4 id="producerId">Tèo</h4>
							<div class="clearfix"></div>
						</div>
					</div>
					<div onclick="createMessage()" style="cursor: pointer" class="interested text-center">
						<h4>Bạn đang quan tâm đến tin này ?</h4>
						<small><i class="fa fa-comments"></i> Chat với người đăng tin !</small>
					</div>
					<div class="tips">
						<h4>MẸO MUA HÀNG AN TOÀN</h4>
						<ul>
							<li>Đi cùng 1 người bạn hiểu biết về sản phẩm khi giao dịch.</li>
							<li>2Hands không can thiệp vào quá trình thương lượng và giao dịch giữa người mua và người
								bán với mong muốn tạo điều kiện thuận lợi nhất cho việc mua bán giữa đôi bên.</li>
							<li>Sự an toàn của người dùng luôn là trăn trở và ưu tiên hàng đầu của chúng tôi.</li>
						</ul>

						<h4></h4>
						<h4>KIỂM TRA KỸ THÔNG TIN SẢN PHẨM</h4>
						<ul>
							<li>Hỏi ý kiến của người quen rành về sản phẩm.</li>
							<li>Thận trọng với sản phẩm có giá rẻ so với thị trường.</li>
						</ul>

						<h4></h4>
						<h4>TÌM HIỂU THÔNG TIN BÁN HÀNG TỪ NGƯỜI BÁN</h4>
						<ul>
							<li>Phương thức thanh toán, giao hàng.</li>
							<li>Chính sách đổi trả hàng.</li>
							<li>Điều kiện bảo hành/hoàn tiền (nếu có).</li>
						</ul>

						<h4></h4>
						<h4>CHỌN PHƯƠNG THỨC GIAO DỊCH AN TOÀN</h4>
						<ul>
							<li>KHÔNH chuyển tiền trước khi nhận hàng.</li>
							<li>NÊN giao dịch trực tiếp và từ 2 người trở lên.</li>
						</ul>

						<h4></h4>
						<h4>LƯU THÔNG TIN GIAO DỊCH ĐẦY ĐỦ</h4>
						<ul>
							<li>Lưu giữ thông tin hóa đơn, các chức từ giao dịch để tiện việc đối chiếu/ đối chứng sau
								này (nếu có).</li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--//single-page-->

</body>


<script>
	var postId = `{{postId}}`;
	if (sessionStorage.getItem('token') != null) {
		var token = sessionStorage.getItem('token');
		var user = decodedJWT(token);
	}

	showDetailPost();

	var postAll;

	async function showDetailPost() {
		await getDetailPostAPI(postId)
			.then(post => {
				postAll = post;

				breadcrumbs_categoryId.innerHTML = post.post.category.title;
				breadcrumbs_titleId.innerHTML = post.post.title;

				titleId.innerHTML = post.post.title;
				addressId.innerHTML = post.post.address;
				cityId.innerHTML = post.post.city.name;
				momentId.innerHTML = post.post.moment;

				avatarId.src = post.post.user.avatar == undefined ? '/images/user_icon.png' : Dia_chi_Dich_vu + '/' + post.post.user.avatar;
				nameId.innerHTML = post.post.user.name == undefined ? post.post.user.phoneNumber : post.post.user.name;
				sellerId.innerHTML = post.post.seller == 1 ? 'Cần bán' : 'Cần mua';
				phoneNumberId.innerHTML = Tao_Chuoi_The_hien_So_nguyen_duong(post.post.user.phoneNumber);
				contentId.innerHTML = post.post.content;

				priceId.innerHTML = Tao_Chuoi_The_hien_So_nguyen_duong(post.post.price) + ' ₫';
				producerId.innerHTML = post.post.producer == undefined ? '' : post.post.producer.title;
				
				titleclassifyId.innerHTML = post.post.classify == undefined ? post.post.category.title : post.post.classify.title;

				let chuoi_HTML_Image = `<ul class="slides">`
				post.post.images.forEach(image => {
					chuoi_HTML_Image += `<li data-thumb="${Dia_chi_Dich_vu}/${image}"> <img src="${Dia_chi_Dich_vu}/${image}" /></li>`
				});
				chuoi_HTML_Image += `</ul>`
				imagesId.innerHTML = chuoi_HTML_Image;

				if (sessionStorage.getItem('token') != null) {
					getSubscribestUserAPI(token, user.id)
						.then(listSubscribes => {
							if (listSubscribes.count > 0) {
								let result = listSubscribes.subscribes.findIndex(post => post.id == postId);
								if (result != -1) {
									subscribeId.className = 'fa fa-heart';
								}
							}
						})
						.catch(err => {
							console.log(err);
						});
				}
			})
			.catch(err => {
				console.log(err)
			});
	}

	function createMessage() {
		if (sessionStorage.getItem('token') != null) {
			let infoMessage = {
				userSellId: postAll.post.user._id,
				userBuyId: user.id,
				postId: postId
			}

			createMessageAPI(token, infoMessage)
				.then(message => {
					window.location = Dia_chi_Dich_vu + '/message/' + message.message._id;
				})
				.catch(err => {
					console.log(err);
					if (JSON.parse(err).message == `Auth failed`) {
						authFailed();
					}
				});
		} else {
			window.location = Dia_chi_Dich_vu + '/login';
		}
	}

	function subscribePost() {
		if (sessionStorage.getItem('token') != null) {
			let post = { postId: postId }
			subscribePostAPI(token, user.id, post)
				.then(result => {
					if (result.message == `Subscribe success`) {
						subscribeId.classList.remove('fa-heart-o');
						subscribeId.classList.add('fa-heart');
						showToast('Tin đã được lưu vào danh sách theo dõi.');
					} else if (result.message == `Unsubscribe success`) {
						subscribeId.classList.add('fa-heart-o');
						subscribeId.classList.remove('fa-heart');
						showToast('Đã hủy theo dõi tin này.');
					}
				})
				.catch(err => {
					console.log(err);
				});
		} else {
			window.location = Dia_chi_Dich_vu + '/login';
		}
	}

	function authFailed() {
		sessionStorage.removeItem('token');
		window.location = Dia_chi_Dich_vu;
	}

	function goThisCategory() {
		window.location = Dia_chi_Dich_vu + '/' + postAll.post.category._id;
	}
</script>