<head>
    <title>Resale_v2 a Classified ads Category Flat Bootstrap Responsive Website Template | Fashion :: w3layouts</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"><!-- bootstrap-CSS -->
    <link rel="stylesheet" href="css/bootstrap-select.css"><!-- bootstrap-select-CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" /><!-- style.css -->
    <link rel="stylesheet" type="text/css" href="css/jquery-ui1.css">
    <link rel="stylesheet" href="css/font-awesome.min.css" /><!-- fontawesome-CSS -->
    <link rel="stylesheet" href="css/menu_sideslide.css" type="text/css" media="all"><!-- Navigation-CSS -->
    <!-- meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <!-- //meta tags -->
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link
        href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
        rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <!-- js -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- js -->


    <!-- //language-select -->
    <!-- switcher-grid and list alignment -->
    <script src="template/js/tabs.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var elem = $('#container ul');
            $('#viewcontrols a').on('click', function (e) {
                if ($(this).hasClass('gridview')) {
                    elem.fadeOut(300, function () {
                        $('#container ul').removeClass('list').addClass('grid');
                        $('#viewcontrols').removeClass('view-controls-list').addClass('view-controls-grid');
                        $('#viewcontrols .gridview').addClass('active');
                        $('#viewcontrols .listview').removeClass('active');
                        elem.fadeIn(300);
                    });
                }
                else if ($(this).hasClass('listview')) {
                    elem.fadeOut(300, function () {
                        $('#container ul').removeClass('grid').addClass('list');
                        $('#viewcontrols').removeClass('view-controls-grid').addClass('view-controls-list');
                        $('#viewcontrols .gridview').removeClass('active');
                        $('#viewcontrols .listview').addClass('active');
                        elem.fadeIn(300);
                    });
                }
            });
        });
    </script>
    <!-- //switcher-grid and list alignment -->
</head>


<body>

    <!-- breadcrumbs -->
    <div class="w3layouts-breadcrumbs text-center">
        <div class="container">
            <span class="agile-breadcrumbs" id="agileBreadcrumbsId">
                <a href="/"><i class="fa fa-home home_1"></i></a> / Tìm kiếm
                <span></span>
            </span>
        </div>
    </div>
    <!-- //breadcrumbs -->

    <div class="ads-grid">
        <div class="side-bar col-md-3">
            <div class="w3ls-featured-ads">
                <h2 class="sear-head fer">Tin ưu tiên</h2>
                <div class="w3l-featured-ad">
                    <a href="single.html">
                        <div class="w3-featured-ad-left">
                            <img src="template/images/f1.jpg" title="ad image" alt="" />
                        </div>
                        <div class="w3-featured-ad-right">
                            <h4>Lorem Ipsum is simply dummy text of the printing industry</h4>
                            <p>$ 450</p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>

                <div class="w3l-featured-ad">
                    <a href="single.html">
                        <div class="w3-featured-ad-left">
                            <img src="template/images/f3.jpg" title="ad image" alt="" />
                        </div>
                        <div class="w3-featured-ad-right">
                            <h4>Lorem Ipsum is simply dummy text of the printing industry</h4>
                            <p>$ 560</p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="agileinfo-ads-display col-md-9">
            <div class="wrapper">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home"
                                aria-expanded="true">
                                <span id="postCategoryId" class="text">Tin tìm kiếm</span>
                            </a>
                        </li>
                        {{!-- <li role="presentation" class="next">
									<a href="#profile" role="tab" id="profile-tab" data-toggle="tab"
										aria-controls="profile">
										<span class="text">Ads with Photos</span>
									</a>
								</li> --}}
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                            <div>
                                <div id="container">
                                    <div class="view-controls-list" id="viewcontrols">
                                        <label>Hiển thị :</label>
                                        <a class="gridview"><i class="fa fa-th"></i></a>
                                        <a class="listview active"><i class="fa fa-th-list"></i></a>
                                    </div>
                                    <div class="sort">
                                        <div class="sort-by">
                                            <label>Sắp xếp theo : </label>
                                            <select>
                                                <option value="">Tin mới nhất</option>
                                                <option value="">Giá: Thấp đến cao</option>
                                                <option value="">Giá: Cao đến thấp</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <ul class="list" id="listPostsId">
                                        {{!-- Post hiển thị ở đây --}}
                                        <a href="single.html">
                                            <li>
                                                <img src="template/images/fa1.jpg" title="" alt="" />
                                                <section class="list-left">
                                                    <h5 class="title">There are many variations of passages of
                                                        Lorem Ipsum</h5>
                                                    <span class="adprice">$29000000000</span>
                                                    <p class="catpath">Accessories » Men</p>
                                                </section>
                                                <section class="list-right">
                                                    <span class="date">Today, 17:55</span>
                                                    <span class="cityname">City name</span>
                                                </section>
                                                <div class="clearfix"></div>
                                            </li>
                                        </a>
                                        {{!--  --}}

                                    </ul>
                                </div>
                            </div>
                        </div>


                        <ul class="pagination pagination-sm">
                            <li><a href="#">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    </div>
    </div>
    <!-- // Electronic appliances -->
</body>

<script>
    if (sessionStorage.getItem('search') == null) {
        window.location = '/';
    }

    if (sessionStorage.getItem('token') != null) {
        var token = sessionStorage.getItem('token');
        var user = decodedJWT(token);
    }


    var listPostSearch = JSON.parse(sessionStorage.getItem('search'));

    getPostsSubscribes(showPosts);



    async function getPostsSubscribes(callback) {
        var listSubscribes = [];

        if (sessionStorage.getItem('token') != null) {
            let subscribes = await getSubscribestUserAPI(token, user.id);
            if (subscribes.count > 0) {
                listSubscribes = subscribes.subscribes;
            }
        }

        callback(listPostSearch, listSubscribes);
    }

    function showPosts(listPosts, listSubscribes) {
        let chuoi_HTML = ``;
        listPosts.forEach(post => {
            let result = listSubscribes.findIndex(postSubscribe => postSubscribe.id == post.id);
            chuoi_HTML += `
				<li>
					<img style="cursor: pointer" src="${Dia_chi_Dich_vu}/${post.images[0]}" title="" alt="" onclick="goDetail('${post.id}')"/>
					<section style="cursor: pointer" class="list-left" onclick="goDetail('${post.id}')">
						<h5 class="title">${post.title}</h5>
						<span class="adprice">${Tao_Chuoi_The_hien_So_nguyen_duong(post.price)} ₫</span>
						<p class="catpath">${post.classify == undefined ? '' : post.classify.title}</p>
						
					</section>
					<section style="cursor: pointer" class="list-right" onclick="goDetail('${post.id}')">
						<span class="date">${post.moment}</span>
						<span class="cityname">${post.city.name}</span>
					</section>
					<button onclick="subscribePost('${post.id}')" style="margin-top: 3rem" class="btn btn-danger pull-right ${post.id}">Lưu tin <i id="subscribeId" class="fa ${result != -1 ? 'fa-heart' : 'fa-heart-o'}"></i> </button>
					<div class="clearfix"></div>
				</li>`
        })

        listPostsId.innerHTML = chuoi_HTML;
    }

    function subscribePost(postId) {
        if (sessionStorage.getItem('token') != null) {
            let post = { postId: postId }
            subscribePostAPI(token, user.id, post)
                .then(result => {
                    let btn = document.getElementsByClassName(postId);
                    
                    if (result.message == `Subscribe success`) {
                        btn[0].childNodes[1].className = `fa fa-heart`;
                        showToast('Tin đã được lưu vào danh sách theo dõi.');
                    } else if (result.message == `Unsubscribe success`) {
                        btn[0].childNodes[1].className = `fa fa-heart-o`;
                        showToast('Đã hủy theo dõi tin này.');
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        } else {
            window.location = Dia_chi_Dich_vu + '/login'
        }
    }

    function goDetail(postId) {
        window.location = Dia_chi_Dich_vu + '/post-detail/' + postId;
    }

</script>