<link rel="stylesheet" href="../css/style.css">
<script src="../js/connectAPI.js"></script>
<script src="../js/handle.js"></script>
<script src="../js/handleAdmin.js"></script>


<script>
    if (sessionStorage.getItem('token') != null) {
        var user = decodedJWT(sessionStorage.getItem('token'));
        if (user.isAdmin || user.isEmployee) {

        } else {
            window.location.href = Dia_chi_Dich_vu
        }
    } else {
        window.location.href = Dia_chi_Dich_vu
    }
</script>

<div class="container-fluid mt-2">
    <div class="row">

        <div class="col-md-3">
            {{> admin/content-left}}
        </div>

        <div id="controlAdmin" class="col-md-9">

            <h3 id="listCountId" class="text-primary mt-2"></h3>
            <button onclick="goCreateProducer()" class="btn btn-primary">Thêm nhà sản xuất</button>
            <div class="form-group">
                <label for="">Lọc theo chuyên mục</label>
                <select id="filterCategoryId" class="btn btn-outline-success">

                </select>



            </div>
            <div id="groupBTNClassifies" class="form-group">

            </div>

            <div id="toastMessageId"></div>
            <table id="tableProducersId" class="table mt-3" style="">
                <thead>
                    <tr>
                        <th>Hình</th>
                        <th>Tiêu đề</th>
                        <th>Chuyên mục</th>
                        <th>Thể loại</th>
                        <th>Ngày tạo</th>
                        <th>Lần cập nhật gần nhất</th>
                        <th>Ghi chú</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody id="tableBodyId">

                </tbody>
            </table>


        </div>

    </div>
</div>



<script>
    btnProducer.classList.add('active');

    TH_avatar.src = '../images/login_icon2.png';



    showAllProducers();

    // Show data categories to tag select categories
    getAllCategoriesAPI()
        .then(listCategories => {
            var chuoi_HTML = `<option value="all">Hiển thị tất cả</option>`;
            listCategories.categories.forEach(category => {
                chuoi_HTML += `<option value="${category.id}">${category.title}</option>`
            });
            filterCategoryId.innerHTML = chuoi_HTML;

        })
        .catch(err => {
            console.log(err);
        });


    function showAllProducers() {
        var token = sessionStorage.getItem('token');
        getAllProducerAPI()
            .then(listProducers => {
                listCountId.innerHTML = `Danh sách tất cả nhà sản xuất (Tổng: ${listProducers.count})`
                showTableProducers(listProducers.producers);
            })
            .catch(err => {
                console.log(err)
                messageError(err);
            });
    }

    filterCategoryId.onchange = () => {
        if (filterCategoryId.value != 'all') {
            showProducersByCategory(filterCategoryId.value)
        }
        else {
            toastMessageId.innerHTML = ``;
            groupBTNClassifies.innerHTML = ``;
            tableProducersId.classList.remove('d-none');
            showAllProducers();
        }
    }

    function showTableProducers(listProducers) {
        chuoi_HTML = ``;
        listProducers.forEach(producer => {
            chuoi_HTML += `<tr>
                <td scope="row"><img src="${Dia_chi_Dich_vu}/${producer.image}" width="70" height="70"></td>
                <td>${producer.title}</td>
                <td>${producer.category.title}</td>
                <td>${producer.classify.title}</td>
                <td>${getDateFormat(producer.createdAt)}</td>
                <td>${getDateFormat(producer.updatedAt)}</td>
                <td>${producer.note == null ? "" : producer.note}</td>
                <td><button class="btn btn-outline-success" onclick="window.location='${Dia_chi_Dich_vu}/producer/${producer.id}'">Sửa</button>
                    <button class="btn btn-outline-danger" onclick="deleteProducer('${sessionStorage.getItem('token')}', '${producer.id}')">Xóa</button>
                </td>
            </tr>`;
        });
        tableBodyId.innerHTML = chuoi_HTML;
    }

    function deleteProducer(token, id) {
        deleteProducerAPI(token, id)
            .then(result => {
                messageSuccess(result);
                if (filterCategoryId.value != 'all')
                    showProducersByCategory(filterCategoryId.value)
                else
                    showAllProducers();
            })
            .catch(err => {
                console.log(err)
                messageError(JSON.parse(err).message);
            });
    }

    function goCreateProducer() {
        window.location = Dia_chi_Dich_vu + '/producer';
    }

    function showProducersByCategory(CategoryId) {
        getCategoryAPI(CategoryId)
            .then(category => {
                getClassifiesByCategoryAPI(CategoryId)
                    .then(listClassifies => {
                        if (listClassifies.count > 0) {

                            // group btn
                            groupBTNClassifies.classList.remove('d-none');
                            var chuoi_HTML_button_classifies = `<button class="btn btn-outline-secondary ml-3" onclick="showProducersByCategory('${CategoryId}')">Tất cả ${category.category.title}</button>`;
                            listClassifies.classifies.forEach(classify => {
                                chuoi_HTML_button_classifies += `<button class="btn btn-outline-secondary ml-3" onclick="getProducersByClassify('${classify.id}')">${classify.title}</button>`
                            });
                            groupBTNClassifies.innerHTML = chuoi_HTML_button_classifies;
                        } else {
                            groupBTNClassifies.innerHTML = ``;
                        }

                        getProducerByCategoryAPI(CategoryId)
                            .then(listProducers => {
                                if (listProducers.count > 0) {
                                    toastMessageId.innerHTML = ``;
                                    tableProducersId.classList.remove('d-none');

                                    listCountId.innerHTML = `Danh sách nhà sản xuất thuộc ${category.category.title} (Tổng: ${listProducers.count})`
                                    showTableProducers(listProducers.producers);
                                } else {
                                    listCountId.innerHTML = `Danh sách nhà sản xuất thuộc ${category.category.title} (Tổng: ${listProducers.count})`
                                    toastMessageId.innerHTML = `Chuyên mục này không có nhà sản xuất nào`
                                    tableProducersId.classList.add('d-none');
                                }
                            })
                            .catch(err => {
                                console.log(err);
                                messageError(err);
                            });


                    }).catch(err => {
                        console.log(err);
                    });
            })
            .catch(err => {
                console.log(err);
                messageError(err);
            })
    }

    function getProducersByClassify(ClassifyId) {
        if (ClassifyId !== 'all') {
            getClassifyAPI(ClassifyId)
                .then(classify => {
                    getProducersByClassifyAPI(ClassifyId)
                        .then(listProducers => {
                            if (listProducers.count > 0) {
                                toastMessageId.innerHTML = ``;
                                tableProducersId.classList.remove('d-none');
                                listCountId.innerHTML = `Danh sách nhà sản xuất thuộc ${classify.classify.category.title} - ${classify.classify.title} (Tổng: ${listProducers.count})`;
                                showTableProducers(listProducers.producers);
                            } else {
                                listCountId.innerHTML = `Danh sách nhà sản xuất thuộc ${classify.classify.category.title} - ${classify.classify.title} (Tổng: ${listProducers.count})`;
                                toastMessageId.innerHTML = `Thể loại này không có nhà sản xuất nào`;
                                tableProducersId.classList.add('d-none');
                            }
                        })
                        .catch(err => {
                            console.log(err);
                            messageError(err);
                        });
                })
                .catch(err => {
                    console.log(err);
                    messageError(err);
                })
        }
        else {

        }

    }

</script>