<script src="js/connectAPI.js"></script>
<script src="js/handle.js"></script>

<script>
    if (sessionStorage.getItem('token') != null) {
        var user = decodedJWT(sessionStorage.getItem('token'));
        if (user.isAdmin || user.isEmployee) {

        } else {
            window.location.href = Dia_chi_Dich_vu
        }
    } else {
        window.location.href = Dia_chi_Dich_vu
    }
</script>

<div class="container-fluid mt-2">
    <div class="row">
        {{> admin/content-left}}

    </div>
</div>
