<link rel="stylesheet" href="../css/style.css">
<script src="../js/connectAPI.js"></script>
<script src="../js/handle.js"></script>
<script src="../js/handleAdmin.js"></script>

<div class="container mt-3">
    <div class="row">
        <div>
            <h1 class="text-info">CHỈNH SỬA CHUYÊN MỤC TIN {{categoryId}}</h1>
        </div>
        {{!-- <form method="post" enctype="multipart/form-data"> --}}
        <div>

            <div class="form-group">
                <label>Tiêu đề: </label>
                <input class="form-control" id="titleId" value="">
            </div>

            <div class="form-group">
                <label id="createdAtId"></label>
            </div>

            <div class="form-group">
                <label id="updatedAtId"></label>
            </div>

            <div class="form-group">
                <label>Ghi chú: </label>
                <textarea class="form-control" rows="1" cols="50" id="noteId"></textarea>
            </div>

            <div class="form-group">
                <label>Hình ảnh: </label>
                <img id="imageId" src="" width="100" height="100">
                <button class="btn btn-outline-warning" id="showModalUploadId" value="">Cập nhật ảnh</button>
            </div>

            <!-- Nút Xác nhận Lưu, Hủy -->
            <button class="btn btn-success font-weight-bold" id="luu">Lưu</button>
            <button class="btn btn-outline-danger ml-3" id="huy">Hủy</button>
        </div>
        {{!-- </form> --}}
    </div>
</div>

<!-- Button trigger modal -->
<button id="modalUploadId" type="button" class="btn btn-primary btn-lg d-none" data-toggle="modal" data-target="#modelId">
    Launch
</button>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật hình ảnh</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Hình ảnh: </label>
                <img id="imageModalId" width="100" height="100">
                <input class="btn btn-outline-warning" type="file" id="uploadId" name="image">

                <div class="modal-footer mt-3">
                    <button id="btnCloseModalUpload" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button class="btn btn-primary" id="btnUpload">Cập nhật</button>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    TH_avatar.src = '../images/login_icon2.png';

    var idCategory = `{{categoryId}}`;

    getCategoryAPI(sessionStorage.getItem('token'), idCategory)
        .then(result => {
            console.log(result.category)
            titleId.value = result.category.title;
            createdAtId.innerHTML = 'Ngày tham gia: ' + getDateFormat(result.category.created_at);
            updatedAtId.innerHTML = 'Chỉnh sửa gần đây nhất: ' + getDateFormat(result.category.updated_at);
            noteId.value = result.category.note == undefined ? "" : result.category.note;
            imageId.src = `${Dia_chi_Dich_vu}/${result.category.image}`;
            imageModalId.src = imageId.src;
        })
        .catch(err => {
            messageError(err);
        });

    showModalUploadId.onclick = () => {
        modalUploadId.click();
    };

    btnUpload.onclick = () => {
        var formData = new FormData();
        formData.append('image', uploadId.files[0]);

        updateImageCategoryAPI(sessionStorage.getItem('token'), idCategory, formData)
        .then(result => {
            messageSuccess(result);
            btnCloseModalUpload.click();
            setTimeout(() => {
                window.location = `${Dia_chi_Dich_vu}/category/${idCategory}`;
            }, 1500);
        })
        .catch(err => {
            messageError(err);
        });
    }

    huy.onclick = () => {
        window.location = Dia_chi_Dich_vu + '/admin/category';
    }

    luu.onclick = () => {
        var infoUserUpdate = [
            { "propName": "name", "value": fullname.value },
            { "propName": "address", "value": address.value },
            { "propName": "facebook", "value": facebook.value },
            { "propName": "email", "value": email.value },
            { "propName": "gender", "value": genderId.value == "" ? null : genderId.value },
            { "propName": "status", "value": statusUser.value },
            { "propName": "note", "value": note.value },
        ]

        updateAccountUserAPI(sessionStorage.getItem('token'), idUser, infoUserUpdate)
            .then(result => {
                messageSuccess(result);
                setTimeout(() => {
                    window.location = Dia_chi_Dich_vu + '/admin/categories';
                }, 1500);
            })
            .catch(err => {
                messageError(err);
            })
    }
</script>