<link rel="stylesheet" href="../css/style.css">
<script src="../js/connectAPI.js"></script>
<script src="../js/handle.js"></script>
<script src="../js/handleAdmin.js"></script>
<script id="importSocket" src="/socket.io/socket.io.js"></script>


<script>
    if (sessionStorage.getItem('token') != null) {
        var user = decodedJWT(sessionStorage.getItem('token'));
        if (user.isAdmin || user.isEmployee) {

        } else {
            window.location.href = Dia_chi_Dich_vu
        }
    } else {
        window.location.href = Dia_chi_Dich_vu
    }
</script>

<div class="container-fluid mt-2">
    <div class="row">

        <div class="col-md-3">
            {{> admin/content-left}}
        </div>

        <div id="controlAdmin" class="col-md-9">

            <h3 id="listCountId" class="text-primary mt-2"></h3>
            <button onclick="goCreatePost()" class="btn btn-primary">Đăng tin</button>
            <div class="form-group">
                <label for="">Lọc theo chuyên mục</label>
                <select id="filterCategoryId" class="btn btn-outline-success">

                </select>



            </div>
            <div id="groupBTNClassifies" class="form-group">

            </div>

            <div id="toastMessageId"></div>
            <table id="tableProducersId" class="table mt-3" style="">
                <thead>
                    <tr>
                        <th>Hình</th>
                        <th>Chuyên mục</th>
                        <th>Thể loại</th>
                        <th>Nhà sản xuất</th>
                        <th>Tiêu đề</th>
                        <th>Giá</th>
                        <th>Loại tin</th>
                        <th>Ngày tạo</th>
                        <th>Lần cập nhật gần nhất</th>
                        <th>Ghi chú</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody id="tableBodyId">

                </tbody>
            </table>


        </div>

    </div>
</div>

<button id="send">Send test</button>


<script>

    btnPostWaiting.classList.add('active');
    const socket = io(Dia_chi_Dich_vu);

    socket.emit('admin-join-room');

    socket.on('server-send-list-post-waiting', listPostsWaiting => {
        showTablePostsWaiting(listPostsWaiting);
    });

    socket.on('server-send-create-post', post => {
        chuoi_HTML = `<tr>
                <td scope="row"><img src="${Dia_chi_Dich_vu}/${post.images == null ? "" : post.images[0]}" width="50" height="50"></td>
                <td>${post.category.title}</td>
                <td>${post.classify.title}</td>
                <td>${post.producer.title}</td>
                <td>${post.title}</td>
                <td>${post.price}</td>
                <td>${post.seller == true ? "Cần bán" : "Cần mua"}</td>
                <td>${getDateFormat(post.createdAt)}</td>
                <td>${getDateFormat(post.updatedAt)}</td>
                <td>${post.note == null ? "" : post.note}</td>
                <td><button class="btn btn-outline-warning" onclick="window.location='${Dia_chi_Dich_vu}/producer/${post.id}'">Chi tiết</button>
                    <button class="btn btn-outline-success" onclick="deleteProducer('${sessionStorage.getItem('token')}', '${post.id}')">Duyệt</button>
                    <button class="btn btn-outline-danger" onclick="deleteProducer('${sessionStorage.getItem('token')}', '${post.id}')">Từ chối</button>
                </td>
            </tr>`;
            tableBodyId.innerHTML += chuoi_HTML;
    });

    send.onclick = () => {
        var chuoi_gui = `client send to server`;
        socket.emit('client-send-data', chuoi_gui);
    }


    function showTablePostsWaiting(listPostsWaiting) {
        chuoi_HTML = ``;
        console.log(listPostsWaiting);
        listPostsWaiting.forEach(post => {
            chuoi_HTML += `<tr>
                <td scope="row"><img src="${Dia_chi_Dich_vu}/${post.images == null ? "" : post.images[0]}" width="50" height="50"></td>
                <td>${post.category.title}</td>
                <td>${post.classify.title}</td>
                <td>${post.producer.title}</td>
                <td>${post.title}</td>
                <td>${post.price}</td>
                <td>${post.seller == true ? "Cần bán" : "Cần mua"}</td>
                <td>${getDateFormat(post.created_at)}</td>
                <td>${getDateFormat(post.updated_at)}</td>
                <td>${post.note == null ? "" : post.note}</td>
                <td><button class="btn btn-outline-warning" onclick="window.location='${Dia_chi_Dich_vu}/producer/${post.id}'">Chi tiết</button>
                    <button class="btn btn-outline-success" onclick="deleteProducer('${sessionStorage.getItem('token')}', '${post.id}')">Duyệt</button>
                    <button class="btn btn-outline-danger" onclick="deleteProducer('${sessionStorage.getItem('token')}', '${post.id}')">Từ chối</button>
                </td>
            </tr>`;
        });
        tableBodyId.innerHTML = chuoi_HTML;
    }

</script>