
    <h4 class="text-secondary">Chuyên mục quản trị</h4>
    <ul>
        <li><button onclick="goHomeAdmin()" class="btn btn-outline-danger">Home</a></li>
        <li><button onclick="" class="btn btn-outline-warning mt-1">Tin chờ duyệt</button></li>
        <li><button onclick="" class="btn btn-outline-success mt-1">Tin đã duyệt</button></li>
        <li><button onclick="" class="btn btn-outline-primary mt-1">Quản lý thể loại tin</button></li>
        <li><button onclick="" class="btn btn-outline-primary mt-1">Quản lý chuyên mục tin</button></li>
        <li><button onclick="" class="btn btn-outline-primary mt-1">Quản lý hãng trong chuyên mục</button></li>
        <li><button onclick="goAllUserAdmin()" class="btn btn-outline-primary mt-1">Quản lý tài khoản</button></li>
        <hr>
        <li><button class="btn btn-info" onclick="goIndex()">Trang chủ</button></li>
    </ul>
